* {
	font-family: Heiti SC,Microsoft YaHei,Arial;
}

#scroll_wrapper {
	background: #f5f5f5;
}

.navHeaderContainer {
	background: url(/mobilemode/apps/tesiro/images/b.png) no-repeat;
	background-size: auto 20px;
	border: 0;
	margin: 15px 5px 10px 5px;
	padding-left: 15px;
}

.navHeaderContainer .title {
	font-size: 16px;
	color: #017afd;
}

.navHeaderContainer .small-title {
	font-size: 9px;
}

ul.ul-fields {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

ul.ul-fields li {
	border-top: 1px solid #f0f0f0;
	padding: 7px 20px;
	font-size: 12px;
	background-color: #fff;
}

ul.ul-fields li span {
	float: right;
	font-size: 12px;
	color: #999;
}

ul.ul-fields li:first-child {
	border-top: 1px solid #ddd;
}

ul.ul-fields li:last-child {
	border-bottom: 1px solid #ddd;
}

.divContainer {
	font-size: 12px;
	color: #999;
	padding: 2px 20px;
	line-height: 16px;
}

.divContainer:first-child {
	margin-top: 15px;
}

.divContainer:last-child {
	margin-bottom: 15px;
}

.divContainer .label {
	display: inline-block;
	width: 100px;
}

.divContainer .divInfoNum {
	color: #333;
	font-size: 20px;
	padding: 5px 0px;
}

.divContainer .divInfo {
	display: inline-block;
	margin-right: 10px;
}

.divContainer .progressBar {
	width: 100px;
	height: 10px;
	background-color: black;
	margin-bottom: 5px;
}

.divContainer .progressBar .progressStyle {
	height: 100%;
	width: 0;
	background-color: red;
}

.divContainer label {
	display: inline-block;
	margin: 0;
}

.address {
	padding-left: 20px;
	background: url('/mobilemode/apps/tesiro/images/lbs2_wev8.png') no-repeat;
	background-position: left center;
	max-width: 160px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.address:hover {
	border-bottom: 1px solid #999;
	cursor: pointer;
}

.divContainer {
	display: none;
}